
body{
    margin: 0;
    background-color: black;
    color: hsl(0, 1%, 69%);
    font-family: 'Raleway', sans-serif;
}

/*Logo*/
.Logo{
    width: 280px;
    position: absolute;
    /* top: 60px; */
    left: 44%;
    margin: -200px 0px 0px -46px;
    /* height: 30px;*/
}
.heading{
    float: left;
}


/* unorder list */
nav.social{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    width: auto;
    padding: 80px 66px 0px 0px;
}
a{
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
    color: white;
}

/*aside*/

.mainbackground{
    width: 150%;
    /* position: relative; */
    margin-top: -220px;
}

section{
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
}

.aside {
    margin-bottom: 150px;
}

.aside div{
    margin-top: 200px;
    float: left;
    width: 50%;
    margin: 200px 0 0 0;
}

.rightside {
    position: relative;
    right: 140px;
    top: 45px;
}

.aside h2 , p{
    position: inherit;
    margin-left: 25px;
    margin-right: 25px;
}

h2{ 
    letter-spacing: 2px;
    line-height: 25px;
}

p{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
}

/*footer*/

#globalFooter {
    padding-top: 75px;
    padding-bottom: 65px;
    background-color: rgb(21, 50, 58);
    color: rgb(255, 255, 255);
}

.global {
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

 .global .inner {
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
}

.spaced {
    display: flex;
    flex-flow: row wrap;
    place-content: stretch space-between;
    align-items: stretch;
}

.row {
    width: 100%;
    position: relative;
}

#globalFooter .col {
    width: 50%;
}

.col {
    position: relative;
}

#globalFooter a {
    margin: 0;
    font-family: sofia-pro, sans-serif;
    text-decoration: none;
}

#globalFooter p {
    font-size: 14px;
    margin:0;
    line-height: 1.86;
}

.global p {
    font: 300 22px/1.82 sofia-pro, sans-serif;
}

#globalFooter .social-links {
    text-align: right;
}

#globalFooter .vline-div {
    padding: 0px 10px;
}

.social-links ul{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#globalFooter .social-links li ~ li {
    margin-left: 22px;
}

.social-links li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.uline {
    /*color: rgb(255, 68, 68);*/
    position: relative;
}

#globalFooter .legal {
    opacity: 0.4;
    margin-top: 30px;
}

a:visited {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a.uline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 68, 68);
}

.uline:hover{
    color: #668080;
}

#globalFooter a::after {
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 1025px){
.uline::after {
    transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
}

@media screen and (min-width: 1025px){
a.uline:hover::after {
    transform: translateY(-8px);
}
}
@media screen and (min-width: 1025px){
#globalFooter a.uline:hover::after {
    transform: translateY(-7px);
}
}
